/* file: announcement1transition.css */

.announcement-rotator {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  height: 30px; /* adjust as needed */
  overflow: hidden;
}

.announcement-message {
  display: inline-block;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.announcement-message.fade-in {
  opacity: 1;
}

.announcement-message.fade-out {
  opacity: 0;
}
