/* // file:   dashboard.css */

.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr; /* left smaller, right bigger */
  gap: 20px;
  padding: 1px;
}

/* LEFT SIDE */
.left-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* RIGHT SIDE */
.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 700px;
  
}
/* DEBUG: border-style: dotted; */


/* Weather top row */
.weather-row {
  display: grid;
  grid-template-columns: 120px 1fr; 
  gap: 20px;
  align-items: start;
  width: 100%;
  background: none;
}


/* Forex bottom row */
.forex-row {
  width: 100%;
}
