/* file:    forexticker.css */

.ticker-wrapper {
  width: 100%;
  overflow: hidden;
  background: #111111; 
  color: white;
  padding: 8px 0;
}
 /* ORIG : background: #111111; */

.ticker-track {
  display: flex;
  width: max-content;
  animation: tickerScroll 25s linear infinite;
}


.ticker-item {
  display: inline-block;
  margin-right: 40px;
  font-size: 14px;
}


@keyframes tickerScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


